.grid-row{
    width: 100%;
}
.grid-image{
    width: 100%;
}
.content-wrapper{
    width: 25.6rem;
}
.seo-title{
    font-size: 2.3rem;
}
.seo-text{
    color: hsl(232, 10%, 55%);
    font-family: 'Barlow', sans-serif;
}
.learn-more, .seo-title{
    color: hsl(212, 27%, 19%);
    font-family: 'Fraunces', serif;
}
.learn-more{
    text-decoration: none;
    font-size: 1.1rem;
}
.underline{
    width: 8.5rem;
    height: 8px;
    margin-top: -0.6rem;
    z-index: -1;
    border-radius: 1rem;
}
.yellow{
    background-color: hsla(51, 100%, 49%, 0.4);
}
.pink{
    background-color: hsla(7, 99%, 70%, 0.4);
}
.yellow.hovered{
    background-color: hsl(51, 100%, 49%);
}
.pink.hovered{
    background-color: hsl(7, 99%, 70%);
}
.cherry-background{
    background-image: url(../../images/desktop/image-graphic-design.jpg);
}
.orange-background{
    background-image: url(../../images/desktop/image-photography.jpg);
}
.cherry-background, .orange-background{
    height: 37rem;
    background-size: cover;
    background-position: top;
}
.skill-title{
    font-family: 'Fraunces', serif;
}
.skill-text{
    font-family: 'Barlow', sans-serif;
    text-align: center;
    width: 22rem;
}
.graphic-design-text{
    color: hsl(167, 40%, 24%);
}
.photography-text{
    color: hsl(198, 62%, 26%);
}
@media screen and (min-width: 1850px) {
    .skill-text{
        margin-bottom: -1rem;
    }
}
@media screen and (max-width: 375px) {
    .orange-background{
        background-image: url(../../images/mobile/image-photography.jpg);
    }
    .cherry-background{
        background-image: url(../../images/mobile/image-graphic-design.jpg);;
    }
}
@media screen and (max-width: 350px) {
    .skill-text{
        width: 94%;
    }
}
