.header{
    width: 100%;
}
.main-nav{
    width: 28rem;
}
.link{
    color: hsl(0, 0%, 100%);
    font-family: 'Barlow', sans-serif;
}
.contact-button{
    border: none;
    background-color: hsl(0, 0%, 100%);
    color: hsl(212, 27%, 19%);
    padding: 0.7rem 1.7rem;
    border-radius: 2rem;
    font-family: 'Fraunces', serif;
    font-weight: 700;
}
.contact-button:hover{
    background-color: hsla(0, 0%, 100%, 0.4);
    color: hsl(0, 0%, 100%);
}
.menu-button{
    border: none;
    background-color: transparent;
}
.menu{
    background-color: hsl(0, 0%, 100%);
    flex-basis: 100%;
    z-index: 1;
    -webkit-filter: drop-shadow(0 1px 10px rgba(113, 158, 206, 0.8));
    filter: drop-shadow(0 1px 10px rgba(113, 158, 206, 0.8));
}
.menu::before,
.menu::after {
    content: '';
    position: absolute;
    top: -1.6em;
    right: 0;
    border-color: transparent;
    border-style: solid;
}
.menu::before {
    border-width: 0.8rem;
    border-right-color: hsl(0, 0%, 100%);
    border-bottom-color: hsl(0, 0%, 100%);
}
.contact-menu-button{
    background-color: hsl(51, 100%, 49%);
}
.contact-menu-button:hover{
    background-color: hsl(213, 9%, 39%);
    color: hsl(51, 100%, 49%);
}
.menu-link{
    color:hsl(213, 9%, 39%);
}
.active{
    display: initial;
}
.inactive{
    display: none;
}
