.landing-wrapper{
    background: url(../images/desktop/image-header.jpg) no-repeat bottom;
    background-size: cover;
    height: 49.65rem;
}
.title{
    font-size: 3.7rem;
    font-family: 'Fraunces', serif;
    color: hsl(0, 0%, 100%);
    word-spacing: 0.3rem;
    letter-spacing: 0.5rem;
    margin-top: 5rem;
}
.arrow{
    margin-top: 6.2rem;
}
@media screen and (min-width: 1550px){
    .arrow{
        margin-top: 3rem;
    }
}
